<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<title>home</title>
</head>
<body>
	
	<main>
		<a class="btn btn-danger"
			th:href="@{/logout}">
			logout
		</a>
		<a class="btn btn-primary"
			th:href="@{/login}">
			login
		</a>
		<h1 th:if="${pizzas.size() ==  0}">no pizzas found</h1>
		<div class="container p-4" th:if="${pizzas.size() > 0}">
			
			<h1>
				Pizzas:
			</h1>
			<table class="table border">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Name</th>
			      <th scope="col">Price</th>
			      <th scope="col">Description</th>
			      <th scope="col">view</th>
			      <th sec:authorize="hasAuthority('ADMIN')"
			      	scope="col">edit</th>
			      <th sec:authorize="hasAuthority('ADMIN')"
			      	scope="col">delete</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="pizza : ${pizzas}">
			      <th scope="row">[[${pizza.id}]]</th>
			      <td>[[${pizza.name}]]</td>
			      <td>[[${pizza.price}]]</td>
			      <td>[[${pizza.description}]]</td>
			      <td><a class="btn btn-primary" th:href="@{/pizza/{id}(id=${pizza.id})}">show pizza</a></td>
			      <td sec:authorize="hasAuthority('ADMIN')"
			      	><a class="btn btn-success" th:href="@{/pizza/edit/{id}(id=${pizza.id})}">edit</a></td>
			      <td sec:authorize="hasAuthority('ADMIN')">
					  <form 
						th:action="@{/pizza/delete/{id} (id=${pizza.id})}"
						method="POST">
					
						<button type="submit" class="btn btn-danger">delete</button>	
					</form>
				  </td>
			    </tr>
			  </tbody>
			</table>
			
			<form>
			  <div class="mb-3">
			    <label for="name" class="form-label">serch by name of pizza</label>
			    <input th:value="${query}"
			    	type="text" name="query" class="form-control" id="name" aria-describedby="name">
			  </div>
			  <button type="submit" class="btn btn-primary">Search</button>
			</form>
			<div sec:authorize="hasAuthority('ADMIN')"
				class="py-4">
				<a th:href="@{/pizza/create}"
					class="btn btn-success">create pizza</a>
			</div>
			
			<a class="btn btn-primary my-4"
			th:href="@{/ingredients}">
				see ingredients
			</a>
		</div>

	</main>
</body>
</html>