<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
	<title>ingredients</title>
</head>
<body>
	<div class="container py-4">
		
		<a sec:authorize="hasAuthority('ADMIN')"
			class="btn btn-primary"
			th:href="@{/create-ingredient}">
			add 
		</a>
		<a th:href="@{/}">home</a>
		<div th:if="${ingredients.size()>0}">
			<h1>List of Ingredients</h1>
			<ul>
				<li 
					th:each="ingredient : ${ingredients}">
					[[${ingredient}]]
					<form method="POST"
						th:action="@{/ingredient/delete/{id} (id=${ingredient.id})}">
						<button sec:authorize="hasAuthority('ADMIN')"
							type="submit" class="btn btn-danger">
							delete
						</button>
					</form>
				</li>
			</ul>
		</div>
		
	</div>
</body>
</html>